---
- name: Create project directory and set its permissions
  become: true
  file:
    path: "{{ root_path }}"
    state: directory
    owner: "dev"
    group: "dev"
    recurse: yes
- name: composer install
  become: false
  command:  php /usr/local/bin/composer install -d {{ ansistrano_release_path.stdout }}
- name: Clear the cache
  command: "{{ release_console_path }} cache:clear --no-warmup --env=dev"
- name: Symfony | .env.local"
  become: no
  template:
    src: .env.local.j2
    force: no
    dest: "{{ ansistrano_release_path.stdout }}/.env.local"
- name:  Fix var directory permissions
  become: true
  file:
    path: "{{ release_var_path }}"
    state: directory
    mode: 0777
    recurse: true
 # Symfony console commands
- name: Create DB if not exists
  ommand: '{{ symfony_console_path }} doctrine:database:create --if-not-exists'
- name: Execute migrations
  command: '{{ symfony_console_path }} doctrine:migrations:migrate --no-interaction'


