---
- name: Set permissions on Composer {{ root_path }}
  become: true
  file:
    path: "{{ root_path }}"
    state: directory
    owner: "dev"
    group: "dev"
    recurse: yes
- name: Install Composer's dependencies
  become: false
  command:  php /usr/local/bin/composer install -d {{ ansistrano_release_path.stdout }}
- name: Clear the cache
  command: "{{ release_console_path }} cache:clear --no-warmup --env=dev"
- name: Symfony | .env.local"
  become: no
  template:
    src: .env.local.j2
    force: no
    dest: "{{ ansistrano_release_path.stdout }}/.env.local"
- name:  Fix var directory permissions
  become: true
  file:
    path: "{{ release_var_path }}"
    state: directory
    mode: 0777
    recurse: true
 # Symfony console commands
- name: Create DB if not exists
  shell: '{{ release_console_path }} doctrine:database:create --if-not-exists'
  register: db_create_result
  changed_when: db_create_result.stdout is not search('already exists. Skipped')
#- name: Execute migrations
#  shell: '{{ release_console_path }} doctrine:migrations:migrate --no-interaction'

- name: Install bundle assets
  command: '{{ release_console_path }} assets:install --symlink --env=prod'

- name: Install Node dependencies
  command: yarn install
  args:
    chdir: '{{ ansistrano_release_path.stdout }}'
- name: Install Webpack Encore assets
  command: './node_modules/.bin/encore production'
  args:
    chdir: '{{ ansistrano_release_path.stdout }}'

