---
- name: Deploy immo application to dev server
  hosts: dev
  become: yes
  ansible_become_pass: "haikel"
  roles:
     - carlosbuenosvinos.ansistrano-deploy
  vars:
    ansistrano_deploy_via: "git"
    ansistrano_git_repo: "git@gitlab.com:immonext/immopanel.git"
    ansistrano_git_branch: "master"
    ansistrano_deploy_to: "{{ root_path }}"
    ansistrano_version_dir: "release"
    ansistrano_current_dir: "current"
    ansistrano_keep_releases: 3
    release_console_path: "{{ ansistrano_release_path.stdout }}/bin/console"
    release_var_path: "{{ ansistrano_release_path.stdout }}/var"
    release_logs_path: "{{ ansistrano_shared_path }}/var/logs"
    release_current_path: "{{ root_path }}/current"
    ansistrano_after_symlink_shared_tasks_file: "{{ playbook_dir }}/before-symlink.yml"


