dev:
  hosts:
    192.168.213.128:
      ansible_user: dev
      ansible_ssh_pass: haikel
      ansible_python_interpreter: /usr/bin/python3
      domain: site.local.com
      root_path: "/home/{{ ansible_user }}/site.local.com"
      self_signed: no
      docker: false
      private_key_file: ./ssh/

jenkins:
  hosts:
    192.168.5.20:
      ansible_user: vagrant
      ansible_python_interpreter: /usr/bin/python3


