.img-datatable{
    border: 0px;
    width: 100px;
    padding: 0px;
    border-radius: 0px;
}
.select2-container {
    width: 100% !important;
    padding: 0;
}
.select2 {
    width:100%!important;
}