<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light text-sm">


    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown show">
        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
          <i class="fa fa-language"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right " style="left: inherit; right: 0px;">
          <a href="{{ path('admin_settings_change_locale',{'locale':"en"}) }}" class="dropdown-item">
            <img src="" alt="">
            <i class="fas fa-users mr-2"></i> Anglais
          </a>
          <div class="dropdown-divider"></div>
          <a href="{{ path('admin_settings_change_locale',{'locale':"fr"}) }}" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> Francais
          </a>

        </div>
      </li>
    </ul>
  </nav>
