<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-dark">
    <ul class="navbar-nav">
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header"> <span class="sr-only">{{ 'menu.choose_language'|trans }}</span></span>
          {% for locale in locales()   %}
            <div class="dropdown-divider"></div>
            <a  href="{{ path('admin_settings_change_locale',{'locale':locale.code}) }}" {% if app.request.locale == locale.code %} class="dropdown-item active-lang"{% else %}class="dropdown-item""{% endif %} >
              <i {% if app.request.locale == locale.code %} aria-checked="true" {% else %}aria-checked="false"{% endif %}></i> {{ locale.name|capitalize }}
              <span class="float-right text-muted text-sm">{{ locale.code }} </span>
            </a>
          {% endfor %}
        </div>
      </li>
    </ul>
  </nav>
